node-red/smartroom-node-red-working-2026-07-19.json
[
    {
        "id": "1179912fccafb5a6",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2cb82a9fcb62f551",
        "type": "mqtt in",
        "z": "1179912fccafb5a6",
        "name": "",
        "topic": "smartroom/power/desk/set",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_localhost",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "34d6108182bd6392"
            ]
        ]
    },
    {
        "id": "34d6108182bd6392",
        "type": "switch",
        "z": "1179912fccafb5a6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "032dd2524440816a"
            ],
            [
                "d6c1abc01faf8df6"
            ]
        ]
    },
    {
        "id": "032dd2524440816a",
        "type": "http request",
        "z": "1179912fccafb5a6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.233.143/switch/switch/turn_on",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d6c1abc01faf8df6",
        "type": "http request",
        "z": "1179912fccafb5a6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.233.143/switch/switch/turn_off",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_localhost",
        "type": "mqtt-broker",
        "name": "MQTT_HOST = \"192.168.233.198\" MQTT_PORT = 1883",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]